@import "../global/default.module.scss";

.navContainer {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $secondary-colour;
  color: $white-colour;
  .navWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .navTitleWrapper {
      justify-content: center;
      align-items: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      font-size: 22px;
      margin-top: 10%;
      margin-bottom: 5%;

      .profilePic {
        border-radius: 50%;
        width: 50%;
        justify-content: center;
        align-items: center;
      }
      .title {
        font-weight: bold;
      }
    }
  }

  .navList {
    width: 80%;
    line-height: 30px;
    margin: 5%;
    flex-direction: column;
    display: flex;

    .contactSocials {
      margin-top: 5%;

      .imgTag {
        width: 10%;
        border-radius: 50px;
        margin-right: 2%;
      }
    }
  }
  .navLink {
    text-decoration: none;
    color: $white-colour;
    font-size: 1.2rem;
  }
}

.burgerMenu {
  cursor: pointer;
  display: flex;
  position: relative;
  margin: 2%;
  height: 50px;
  width: 50px;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.burgerMenu .burgerLine {
  width: 4em;
  height: 0.5em;
  background-color: white;
  border-radius: 50px;
}

.burgerMenu .activeLine1 {
  transform: translateY(22px) rotate(-45deg);
  transition: ease-in-out 0.5s;
}

.burgerMenu .activeLine2 {
  opacity: 0;
}

.burgerMenu .activeLine3 {
  transform: translateY(-22px) rotate(45deg);
  transition: ease-in-out 0.5s;
}
.dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .navContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    z-index: 1;
    justify-content: center;
  }
  .navWrapper {
    display: flex;
    flex-direction: row;
    width: 60%;
  }
  .navTitleWrapper {
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 18px;
  }
  .profilePic {
    border-radius: 50%;
    justify-content: center;
    align-items: center;
  }
  .navList {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .dropdown {
    display: none;
  }

  .activeDropdown {
    display: flex;
    flex-direction: column;
  }
}
