@import "../global/default.module.scss";

.container {
  position: fixed;
  top: 0;
  left: -400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  height: 100%;
  z-index: 999;
  background-color: $secondary-colour;
  transition: left 0.9s ease, border-top-right-radius 0.9s ease,
    border-bottom-right-radius 0.9s ease;
  border-top-right-radius: 75%;
  border-bottom-right-radius: 75%;
  color: $white-colour;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}

.linkWrapper {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.sidebarBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: white;
  text-decoration: none !important;
  font-size: 2rem;
  padding: 5%;

  &:hover {
    background-color: $white-colour;
    color: $secondary-colour;
    font-weight: bold;
  }
}

#hideThis {
  opacity: 0;
}
.show {
  left: 0;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
}

.socialImg {
  width: 50px;
}

.profileImg {
  width: 100px;
  border-radius: 50px;
}

.socialWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%; /* Adjusted margin for spacing from the bottom */
}

.socialTitle {
  width: 100%;
  text-align: center;
  font-size: 24px;
  border-bottom: 2px solid;
  margin: 5%;
}

.socialBtnWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}
.socialImg {
  margin: 2% 3%;
}

.floatingBtn {
  position: fixed;
  top: 25px;
  left: 25px;
  padding: 10px 20px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 1001;
  background-color: grey;
  border-radius: 50%;
  background-color: $tertiary-colour;
}

.open {
  background-color: $white-colour;
}

.bar1,
.bar2,
.bar3 {
  width: 100%;
  height: 3px;
  background-color: $white-colour;
  margin: 10px 0px;
  transition: 0.4s;
}

.open .bar1 {
  transform: rotate(-45deg) translate(-9px, 8px);
  background-color: $tertiary-colour;
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
  background-color: $tertiary-colour;
}
