.container {
	display: flex;
	flex-direction: column;
	width: 40%;
	font-size: 1.4rem;
	box-sizing: border-box;
	margin-top: 2%;
	font-family: var(--font-body);
}

.title {
	line-height: 1;
	font-size: 4.5rem;
}

.paragraph {
	border-radius: 15px;
	padding: 1%;
}

.button {
	background-color: var(--led);
	font-family: var(--font-sign);
	font-size: 1.5rem;
	margin: 2% 2% 0% 0%;
	padding: 1% 2%;
	border: none;
	cursor: pointer;
	color: #ffffff;

	&.secondary {
		background-color: transparent;
		color: var(--tarmac);
		border: 2px solid var(--tarmac);
	}
}
