.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  
    .navLinkWrapper {
      display: flex;
  
      .navUL {
        margin: 0;
        padding: 0;

        display: flex; 
        flex-direction: row; //Changing the list from column to row direction
        list-style-type: none; //Removing the dot from list Item

        .navLink{
            margin-right: 10%;
        }
      }
    }
  }
  