/* $main-colour: #563727;
$secondary-colour: #372C2E;
$tertiary-colour: #DE9E48;
$quaternary-colour: #7A431D;
$white-colour: #FFFFFF; */

body {
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  background-color: #363538;
}
