/* $main-colour: #563727;
$secondary-colour: #372C2E;
$tertiary-colour: #DE9E48;
$quaternary-colour: #7A431D;
$white-colour: #FFFFFF; */

.app-container {
  background-color: #363538;
  min-height: 100vh; /* Ensure the container takes up at least the height of the viewport */
  box-sizing: border-box;
  position: relative; /* Ensure the container is relative for z-index */
}

@media (max-width: 768px) {
  .app-container {
    display: flex;
    flex-direction: column;
  }
}
